*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./backgrd.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 280px;
    height: 340px;
    border: solid white;
    margin-left: 30em;
    margin-top: 10em;
    padding: 50px;
}

.counter-minus{
width: 150px;
height: 50px;
background-color: midnightblue;
color: white;
}

.counter-plus{
    width: 150px;
    height: 50px;
    background-color: midnightblue;
    color: white;
    }

    h1{
        color: white;
    }